* {
    border: none;
    border-radius: 0;
    font-family: Ubuntu, Roboto, Helvetica, Arial, sans-serif;
    /* font-size: 13px; */
    font-size: 22px;
    font-weight: normal;
    min-height: 0;
}

window#waybar {
    background: rgb(56,59,74);
    /* border-bottom: 3px solid rgba(100, 114, 125, 0.5); */
    color: white;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button {
        font-size: 22px;
    padding: 0 10px;
    background: transparent;
    color: white;
    /* border-bottom: 3px solid transparent; */
}

#workspaces button.focused {
    background: #64727D;
    /* border-bottom: 3px solid white; */
}

#mode {
    background: #64727D;
    /* border-bottom: 3px solid white; */
}

#clock, #battery, #cpu, #memory, #backlight, #network, #pulseaudio, #custom-spotify, #tray, #mode, #idle_inhibitor {
    /* padding: 5px 0px; */
    padding: 5px 0px;
    margin: 0 16px 0px 0px;
}

#clock {
    /* background-color: #64727D; */
        /* margin-right: 25px; */
}

#battery {
    /* background-color: #ffffff; */
    /* color: black; */
    color: white;
}

#battery.charging {
    color: white;
    /* background-color: #26A65B; */
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: black;
    }
}

#battery.critical:not(.charging) {
    background: #f53c3c;
    color: white;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#cpu {
    background: #2ecc71;
    color: #000000;
}

#memory {
    background: #9b59b6;
}

#backlight {
    background: #90b1b1;
}

#network {
        margin-right: 25px;
    /* background: #2980b9; */
}

#network.disconnected {
    /* background: #f53c3c; */
}

#pulseaudio {
    background: #f1c40f;
    color: black;
}

#pulseaudio.muted {
    background: #90b1b1;
    color: #2a5c45;
}

#custom-spotify {
    background: #66cc99;
    color: #2a5c45;
}

#tray {
    background-color: #2980b9;
}

#idle_inhibitor {
    background-color: #2d3436;
}
